<h1>This is upload books</h1>

<form action="/admin/uploadBooks" enctype="multipart/form-data" method="post">
    <input type="file" name="ImageUpload">
    <input type="file" name="ImageUpload">
    <input type="submit">
</form>