.card-image{
    border-radius: 10px;
}

.card-title{
    height: 90px;
    font-weight: 800;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.btn{
    width: 100%;
}

.card-making{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-skele{
    width: 80%;
}

.card-act{
    text-decoration: none;
}

.full-row{
    margin-top: 20px;
}